ion-button.submit {
  --background: #ff0000;
  --color: #ffffff; // color del texto
}

ion-button.ion-margin-top {
  --border-color: #ff0000;
  --color: #ff0000; // texto e ícono
}

ion-icon {
  color: #ff0000 !important;
}